header {
    background-color:rgb(62, 24, 97);
    padding-bottom: 10px;
    color: white;
}




.search-location button {
    background-color: #4272d7;
    color:white;
    width: 190px;
    display: block;
    border-radius: 7px;;
    border-color: #4272d7;
}